body {
	display: grid;
	grid-template-columns: repeat(4, 210px);
	column-gap: 24px;
	row-gap: 15px;
	justify-content: center;
	margin-bottom: 9px;
	margin-top: 12px;
	background: black;
	color: white;
	font-family: serif;
}
div {
	display: flex;
	flex-direction: column;
	border: 2px solid #212529;
	border-radius: 9px;
	text-align: center;
	height: auto;
	justify-content:center;
	margin-bottom: 6px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 12px auto;
	padding: 0 15%;
	width: fit-content;
	border-radius: 6px;
}
a {
	text-decoration: none;
	color: white;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.premium {
    display: flex;
	background: rgb(12, 12, 12);
}
.theater {
    display: flex;
	background: rgb(12, 12, 12);
}
.science {
    display: flex;
	background: rgb(12, 12, 12);
}
.sport {
    display: flex;
	background: rgb(12, 12, 12);
}
.live {
	display: flex;
    height:fit-content;
	background: rgb(12, 12, 12);
	padding: 6px 6px;
	margin: -6px 0px;
}
li:hover {
	transform: scale(1.15,1.15);
	background-color: gray;
}
.live:hover {
	transform: scale(1,1);
	background-color: gray;
}
.guide{
	display: none;
	width: 910px;
	height: 400px;
}
iframe {
	width: 100%;
	vertical-align: middle;
	height: 100%;
	border-radius: 9px;
	border: 1px none yellow;
}
fieldset{
	display:grid;
	gap: 0px;
	border: 1px none #212529;
	margin: 12px;
	border-radius: 6px;
}
legend{
	text-align: left;
	margin-top: -12px;
	padding: 3px 12px;
	color: red;
}
.guia:hover{
	cursor:help;
}
.close{
	position: relative;
	left: 48%;
	top: 1.5%;
	background-color: white;
	color: black;
	cursor:pointer;
	padding: 1px 6px;
	border-radius: 3px;
	font-size: 12px;
}
.video{
	width: 910px;
	border: 1px none red;
	margin-top: 24px;
}
video{
	width: 95%;
	margin: 0 auto;
	border-radius: 12px;
	border: 1px dashed #212529;
}
#video{
	margin-bottom: 24px;
}

.selection{
	width: 80%;
	min-width: 300px;
	max-width: 600px;
	margin: 0px auto;
	border: none;
}

.selection select{
	text-align: center;
	border-radius: 12px 12px 0px 0px;
	font-size: 15px;
	margin-bottom: 3px;
}

.selection button{
	background-color: gray;
	color: white;
	border-radius: 0px 0px 12px 12px;
	text-transform: uppercase;
	font-size: 15px;
}

@media screen and (max-width: 900px){
	body {
		grid-template-columns: repeat(2, 240px);
	}
	h3 {
		font-size: 21px;
	}
	.guide{
		width: 500px;
		}
	.video{
		width: 500px;
	}

}
@media screen and (max-width: 600px){
	body {
		grid-template-columns: repeat(1, 240px);
	}
	.guide{
		width: 400px;
		margin-left: -80px;
	}
	.video{
		width: 400px;
		margin-left: -80px;
	}
}