*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body {
	text-align: center;
	justify-content: center;
	margin-bottom: 9px;
	margin-top: 12px;
	background: #000000;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}
div {
	display: flex;
	flex-direction: column;
	border: 2px none #212529;
	border-radius: 9px;
	text-align: center;
	height: auto;
	justify-content:center;
	margin-bottom: 6px;
}
fieldset{
	display:grid;
	gap: 0px;
	border: 1px none #212529;
	margin: 6px;
	border-radius: 6px;
}
.video{
	width: 1140px;
	border: 1px none red;
	margin: 0 auto;
}
video{
	width: 100%;
	height: auto;
	margin: 6px auto;
	border-radius: 12px;
	border: 1px dashed #212529;
	-webkit-app-region: no-drag;
}
#video{
	margin-bottom: 1px;
}
.selection{
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 0px auto;
	justify-content: center;
	border: none;
	-webkit-app-region: no-drag;
}
.selection select{
	width: 600px;
	text-align: center;
	border: 1px dashed #212529;
	border-radius: 6px 6px 6px 6px;
	font-size: 12px;
	padding: 6px;
	background: #212529;
	color: white;
	text-transform: uppercase;
}
.testArea{
	width: 99%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	gap: 3px;
	align-items: center;
	justify-content: center;
	height: 30px;
	border: 1px none gray;
	border-radius: 6px;
	background-color: none;
	-webkit-app-region: no-drag;
}
.input{
	border-radius: 6px;
	border: 1px dotted gray;
	width: 85%;
	padding: 3px 6px;
	background: black;
	color: white;
}
.btn{
	font-size: 9px;
	padding: 6px 6px;
	width: 15%;
	background: gray;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	text-transform: uppercase;
}
.btn a{
	text-decoration: none;
	color: white;
}
#btnDel, #btnUpChs, #btnUpMovs, #btnUp, #btnDown{
	width: 45px;
	height: auto;
	padding: unset;
	margin-left: 0px;
	background: gray;
	border: 1px none gray;
	display: none;
}
.label{
	color: yellow;
	font-size: small;
}
#labelTest{
	margin-top: 6px;
}
.carga, .descarga{
	display: flex;
	width: auto;
	margin: 0 3px;
	gap: 3px;
}
.mas{
	position:relative;
	cursor: copy;
	left: 42%;
	bottom: 9px;
	width: 12%;
}
#time{
	color: gray;
}
@media screen and (max-width: 1200px){

	.video{
		width: 900px;
	}
	.selection select{
		width: 600px;
	}
}
@media screen and (max-width: 900px){

	.video{
		width: 600px;
		
	}
	.selection select{
		width: 300px;
	}
}
@media screen and (max-width: 600px){

	.video{
		width: 345px;
		height: 100vh;
	}
	.selection{
		background: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1px;
	}
	.selection select {
		width: 100%;
		height: 30px;
		color: white;
		background: gray;
		border: none;
	}
	#btnDel, #btnUpChs, #btnUpMovs, #btnUp, #btnDown {
		width: 100%;
		height: 30px;
		margin-left: 0px;
		background: #212529;
	}
	.carga, .descarga{
		width: 100%;
	}
}
@media screen and (max-width: 345px){

	.video{
		width: 300px;
		height: 100vh;
	}
	.selection{
		background: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1px;
	}
	.selection select {
		width: 100%;
		height: 30px;
		color: white;
		background: gray;
		border: none;
	}
	#btnDel, #btnUpChs, #btnUpMovs, #btnUp, #btnDown {
		width: 100%;
		height: 30px;
		margin-left: 0px;
		background: #212529;
	}
	.carga, .descarga{
		width: 100%;
	}
}

/* CSS to PLUS */ 
	
.parrilla{
	width: 90%;
	max-width: 600px;
	display: none; /* flex*/
	flex-wrap: wrap;
	gap: 3px;
	margin: 12px auto;
	padding: 1px;
	background: none;
	justify-content: center;
}
.parrilla button{
	padding: 6px 6px;
	border-radius: 3px;
	flex-grow: 6;
	box-shadow: 0px 1px 4px rgb(0, 255, 0, 0.5);
	text-align: center;
}
button:hover{
	scale: 1.2;
}
.plus{
	width: 90%;
	margin: 0 auto;
}
.page{
	display: block;
}
.meframe{
	overflow: hidden;
  	width: 100%;
  	padding-top: 56.25%;
	position: relative;
	background: none;
	margin: 3px auto;
	border: 1px dotted rgb(48, 48, 48);
	align-items: center;
	
}
iframe{
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;

	border-radius: 12px 12px 0px 0px;
	border: 1px none green;
	background: linear-gradient(white, black);
}
.title{
	width: 75%;
	margin: 12px auto;
	color: white;
}
button{
	padding: 3px 9px;
	border-radius: 6px;
	border: none;
	background: gray;
	color: white;
	cursor: pointer;
}

.typewriter {
	width: 18ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid white;
	animation: cursor 1s step-start infinite, 
	text 3s steps(18) alternate infinite;
}
.back{
	display: block;
	text-align: left;
	background-color: none
}
.back button{
	cursor: alias;
	background-color: rgb(48, 48, 48);
}
#btnPass{
	display: block;
	width: 90%;
	background: red;
	text-align: center;
	margin: 60px auto;
	height: 60px;
	font-size: x-large;
}
select{
	width: 100%;
	text-align: center;
	background: rgb(48, 48, 48);
	color: white;
	padding: 6px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
	border: 1px none gray;
	border-radius: 6px;
	cursor: pointer;
}

@keyframes cursor {
	0%, 100% { 
		border-color: rgb(0,255,0); 
	}
}
@keyframes text {
	0% { 
		width: 0; 
	}
	100% { 
		width: 18ch; 
	}
}

